[build]
publish = "public"
command = "hugo --gc --minify"
#command = "hugo --gc --minify --baseURL https://docs.neuralvibes.com"

[context.production.environment]
HUGO_VERSION = "0.74.3"
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"

[context.split1]
command = "hugo --gc --minify --enableGitInfo"

[context.split1.environment]
HUGO_VERSION = "0.74.3"
HUGO_ENV = "production"

[context.deploy-preview]
command = "hugo --gc --minify --buildFuture -b $DEPLOY_PRIME_URL"

[context.deploy-preview.environment]
HUGO_VERSION = "0.74.3"

[context.branch-deploy]
command = "hugo --gc --minify -b $DEPLOY_PRIME_URL"

[context.branch-deploy.environment]
HUGO_VERSION = "0.74.3"

[context.next.environment]
HUGO_ENABLEGITINFO = "true"

[[redirects]]
  from = "/discord"
  to = "https://i.usbwire.net/discord"
  status = 200
  force = true
  headers = {}

[[redirects]]
  from = "/*"
  to = "https://i.usbwire.net"
  status = 404
  force = true
  headers = {}

#[[redirects]]
# from = "https://usbwire.net/"
# to = "https://usbwire.net/index.html"
# status = 200
# force = true
# headers = {}
